body {
  background-color: #dbdce4;
  font-family: Poppins;
}

.weather-app-container {
  display: block;
  margin: 45px auto;
  background-color: #aab8de;
  max-width: 700px;
  padding: 30px;
  border-radius: 20px 20px 0px 0px;
}