.search-form {
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid #e5fd76;
    padding: 0 0 35px 0;
}

.search-input-text {
    border-radius: 50px 0px 0px 50px;
    background-color: #efefef;
    padding: 15px 20px;
    width: 80%;
    border: 2px solid #efefef;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.search-input-button {
    border-radius: 0px 48px 48px 0px;
    background-color: #e5fd76;
    padding: 15px 30px;
    margin-left: 6px;
    border: 2px solid #e5fd76;
    transition: all 100ms ease-in-out;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.search-input-button:hover {
    background-color: #aab8de;
    color: #e5fd76;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}